/*Roboto Thin*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}
/*Roboto Thin Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/*Roboto Light*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
/*Roboto Light Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

/*Roboto Regular*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
/*Roboto Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/*Roboto Medium*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
/*Roboto Medium Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

/*Roboto Regular*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
/*Roboto Bold Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
/*Roboto Black*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
/*Roboto Black Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

:root {
    --harvest: #E09A29;
    --cerulean: #247BA0;
    --cadet: #2D3047;
    --celadon: #A8D4AD;
    --indianred: #C95D63;
}



html {
      background: var(--cadet); padding: 1rem; font-family: "Roboto", sans-serif;
    }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }