/*Roboto Thin*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

/*Roboto Thin Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/*Roboto Light*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/*Roboto Light Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

/*Roboto Regular*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/*Roboto Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/*Roboto Medium*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

/*Roboto Medium Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

/*Roboto Regular*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/*Roboto Bold Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

/*Roboto Black*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

/*Roboto Black Italic*/
@font-face {
    font-family: "Roboto";
    src: url('fonts/roboto/Roboto-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

:root {
    --harvest: #E09A29;
    --cerulean: #247BA0;
    --cadet: #2D3047;
    --celadon: #A8D4AD;
    --indianred: #C95D63;
}

html {
    background: var(--cadet);
    padding: 1rem;
    font-family: "Roboto", sans-serif;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
    color: var(--cadet)
}

h1 {
    color: var(--cerulean);
    margin: 1rem 0;
}

a {
    color: var(--cerulean);
}

hr {
    border: none;
    border-top: 1px solid var(--cadet);
}

nav {
    background: var(--cerulean);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    justify-content: center;
}

nav h1 {
    flex: auto;

    color: var(--harvest);
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a, nav ul li span .action {
    display: inline-block;
    padding: 0.5rem;
    color: var(--harvest);
}

.button {
    background-color: var(--cerulean);
    color: white;
    padding: 14px 25px;
    display: inline-block;
    text-align: center; 
    text-decoration: none;
    color: white;
}
.button:hover,
.button:focus {
  background-color: var(--cadet);
  border-color: #7aa8b7;
  border-radius: 5px;
}

header a {
    display: block;
    padding: 0.5rem;
}
header a:hover,  a:focus {
    background-color: var(--celadon);
    border-color: #7aa8b7;
}

.content {
    padding: 0 1rem 1rem;
}

.white {
    color: white;
}

.yellow {
    color: var(--harvest);
}

.content>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input, .content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: var(--indianred);
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid var(--cerulean);
}

.recipelist {
    padding:  .5em .5em;
}

.siteheader li {
    display: inline-block;
    margin-top: -1em;
    margin-bottom: -1em;
    padding: 0%;
}

.recipelist .about {
    color: var(--cadet);
    font-style: italic;
    padding:  0em 1em;
}

.recipelist .recipelink {
    text-decoration: none;
}

.recipelist h1 {
    margin-top: 0em;
}

.recipelist:hover,
.recipelist:focus {
  background-color: lightgray;
  border-color: #7aa8b7;
}

.project {
    padding:  .5em .5em;
    
}

.project .about {
    color: var(--cadet);
}

.project .title {
    color: var(--cerulean);
    margin-bottom: -.25em;
}
.project sub {
    color: var(--cerulean);
    margin-left: 1em;
}

.project .sidebyside {
    display: inline-block;
    margin-left: auto; 
    margin-right: 1em;
}

.recipe li {
    margin-top: 0em;
    margin-left: 2em;
}

.recipe li {
    margin-top: 0em;
    margin-left: 2em;
    font-style: italic;
    list-style-type: none;
}

.recipe h4 {
    margin-top: 0em;
    margin-bottom: 0em;
}

.recipe .recap {
    font-style: italic;
    font-size: small;
    margin-left: 2em;
}

.recipe .title {
    font-size: xx-large;
}

.recipe .stepingredient {
    font-size: small;
    margin-left: 3em;
}

nav img {
    max-height: 64px;
    max-width: 64px;
}


/*MEDIA QUERY*/
@media only screen and (max-width : 800px) {
    .siteheader li {
        display: block;
        margin-left: 0%;
    }

	nav ul, nav:active ul { 
		display: inline-block;
        vertical-align: middle;
	}
    nav img {
        display: none;
    }
}