{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
  <a class="action" href="{{ url_for('portfolio.create_recipe') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for recipe in recipes %}
    <article class="recipeslist">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('portfolio.show_recipe', id=recipe['id']) }}">{{ recipe['title'] }}</a></h1>
          {% if g.user %}
              <a class="action" href="{{ url_for('portfolio.update_recipe', id=recipe['id']) }}">Edit</a>
          {% endif %}
        </div>
      </header>
      <div class="about">{{ recipe['summary'] }}</div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}