{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block header %}
  {% if g.user %}
  <a class="action" href="{{ url_for('portfolio.create_recipe') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<br>
  {% for recipe in recipes %}
    <article class="recipelist"> 
      <a class="recipelink" href="{{ url_for('portfolio.show_recipe', id=recipe['id']) }}">
      <header>
        <div>
          <h1>{{ recipe['title'] }}</h1>
        </div>
      </header>
      <div class="about">{{ recipe['summary'] }}</div>
    </a>
    </article>
    {% if g.user %}
      <br><a class="action" href="{{ url_for('portfolio.update_recipe', id=recipe['id']) }}">Edit</a>
    {% endif %}
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}