<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Portfolio</h1>
  <ul>
    <li><a href="{{ url_for('portfolio.projects') }}">Projects</a>
    <li><a href="{{ url_for('portfolio.resume') }}">Resume</a>
    <li><a href="{{ url_for('portfolio.recipes') }}">Recipes</a>
    <li><a href="https://www.linkedin.com/in/cainj">LinkedIn</a>
    <li><a href="https://github.com/jwcain">GitHub</a>
      {% if g.user %}
      <li><a href="{{ url_for('auth.logout') }}">Admin Log Out</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>