<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <img src="{{url_for('static', filename='TriHex.png')}}" alt="">
  <ol>
    <ol>
      <h1 class="siteheader">
        <li><p class="white">Justin W Cain</p>
        <li><p class="yellow"></p>Portfolio</p>
      </h1>
    </ol>
    <hr>
    <ul class="navlinks">
      <li><a class="button" href="{{ url_for('portfolio.index') }}">Home</a></li>
      <li><a class="button" href="{{ url_for('portfolio.projects') }}">Projects</a></li>
      <li><a class="button" href="{{ url_for('portfolio.recipes') }}">Recipes</a></li>
      <li><a class="button" href="{{ url_for('portfolio.resume') }}" target="_blank">Resume</a></li>
      <li><a class="button" href="https://www.linkedin.com/in/cainj" target="_blank">LinkedIn</a></li>
      <li><a class="button" href="https://github.com/jwcain" target="_blank">GitHub</a></li>
    </ul>
</ol>
</nav>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
{% if g.user %}
<footer>
<li><a href="{{ url_for('auth.changepassword') }}">Admin Change Password</a>
<li><a href="{{ url_for('auth.logout') }}">Admin Log Out</a>
</footer>
{% endif %}
