<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Portfolio</h1>
  <ul>
    <li><a class="button" href="{{ url_for('portfolio.index') }}">Home</a>
    <li><a class="button" href="{{ url_for('portfolio.projects') }}">Projects</a>
    <li><a class="button" href="{{ url_for('portfolio.recipes') }}">Recipes</a>
    <li><a class="button" href="{{ url_for('portfolio.resume') }}" target="_blank">Resume</a>
    <li><a class="button" href="https://www.linkedin.com/in/cainj" target="_blank">LinkedIn</a>
    <li><a class="button" href="https://github.com/jwcain" target="_blank">GitHub</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
{% if g.user %}
<footer>
<li><a href="{{ url_for('auth.changepassword') }}">Admin Change Password</a>
<li><a href="{{ url_for('auth.logout') }}">Admin Log Out</a>
</footer>
{% endif %}
